BOT_TOKEN=123456:telegram_token_here
OWNER_ID=123456789
DEFAULT_TIMEZONE=Europe/Moscow
DB_PATH=bot_data.sqlite3
SHOP_BOT_TOKEN=123456:shop_bot_token_here
SHOP_OWNER_ID=123456789
SHOP_DB_PATH=premium_shop.sqlite3
PREMIUM_PRICE_3=1000
PREMIUM_PRICE_6=1500
PREMIUM_PRICE_12=2500
GIFT_MARKUP_PERCENT=0
